---
layout: default
tagline: (&#x73AF;&#x5883;&#x642D;&#x5EFA; &#x5F00;&#x53D1;&#x8BED;&#x8A00; &#x5FC3;&#x60C5;&#x6742;&#x8BB0;)
---
{% include JB/setup %}
<div class="page-header">
  <h1>&#x6587;&#x7AE0;&#x5217;&#x8868; <small>{{ page.tagline }}</small></h1>
</div>

<div class="row">
  <div class="span14">
    <ul class="posts">
      {% for post in site.posts %}
      <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="/StaticBlog{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

